@model IEnumerable<DataLayer.Ticket>

    <section class="last-news-side border-radius">
        <header><i class="icons icon-star"></i> <h3> پربازدیدترین  </h3></header>
        <ul>


            @foreach (var item in Model)
            {
                <li>
                    <img class="border-radius" src="~/TicketImages/@item.ImageName">
                    <h2> <a href="/TicNews/@item.TicketID">@item.Title</a></h2>
                    <span>انتشار :@item.CreateDate.ToShamsi()</span>
                </li>
            }

            @*<li>
                    <img class="border-radius" src="~/Content/~/Content/img/thumb.png">
                    <h2> <a href="">عنوان خبر در این ناحیه قرار میگیرد</a></h2>
                    <span>انتشار : 15/08/1395</span>
                </li>
                <li>
                    <img class="border-radius" src="~/Content/~/Content/img/thumb.png">
                    <h2> <a href="">عنوان خبر در این ناحیه قرار میگیرد</a></h2>
                    <span>انتشار : 15/08/1395</span>
                </li>
                <li>
                    <img class="border-radius" src="~/Content/~/Content/img/thumb.png">
                    <h2> <a href="">عنوان خبر در این ناحیه قرار میگیرد</a></h2>
                    <span>انتشار : 15/08/1395</span>
                </li>
                <li>
                    <img class="border-radius" src="~/Content/~/Content/img/thumb.png">
                    <h2> <a href="">عنوان خبر در این ناحیه قرار میگیرد</a></h2>
                    <span>انتشار : 15/08/1395</span>
                </li>*@
        </ul>
    </section>
    
